@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.navbar {
  @apply relative flex items-center pt-[19px];
  margin: 0 65%;
}

.menu {
  @apply flex gap-[48px] list-none;
}

.menu a {
  @apply text-black font-normal text-[20px] leading-normal no-underline;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 1000px) {
  .navbar {
    margin: 0 35%;
  }
}

@media (max-width: 800px) {
  .navbar {
    margin: 0 25%;
  }
}

@media (max-width: 600px) {
  .navbar {
    margin: 0 15%;
  }
}

@media (max-width: 400px) {
  .navbar {
    margin: 0 5%;
  }
}
